# PROYECTO - CARS - DSA

In [1]:
# Importación librerías
import pandas as pd

In [2]:
# Carga de datos de archivo .csv
dataTraining = pd.read_csv('datos/dataTrain_carListings.csv')
dataTesting = pd.read_csv('datos/dataTest_carListings.csv', index_col=0)
data = dataTraining
test = dataTesting

## Análisis Exploratorio de Datos

In [3]:
# Visualización datos de entrenamiento
data.head()

   Price  Year  Mileage State       Make      Model
0  34995  2017     9913    FL       Jeep   Wrangler
1  37895  2015    20578    OH  Chevrolet   Tahoe4WD
2  18430  2012    83716    TX        BMW      X5AWD
3  24681  2014    28729    OH   Cadillac  SRXLuxury
4  26998  2013    64032    CO       Jeep   Wrangler